html, body {
  height:100%;
		width:100%;
		margin:0px;
		padding:0px;
}
body{
	background-color: #fff;
	text-align:left;
	font-family: Tahoma, Arial, sans-serif;
	font-size: 10pt;
	font-weight: normal;
	color:#4c4c4c;
}
body *{
	margin:0px;
	padding:0px;
}
a, a:visited{
	color:#1b1464;
	text-decoration:underline;
}
a:hover{
	text-decoration:none;
}
.abs{
	position:absolute;
	height:1px;
}
.clearboth{
	clear:both;
	height:0px;
	font-size:0px;
	line-height:0px;
}
.hide{
	display:none;
}
.show{
	display:block;
}
h1{
	color:#898989;
	font-weight:normal;
	font-size:17pt;
	line-height:13.5pt;
	margin-bottom:32px;
	text-transform:uppercase;
}
h2{
	font-weight:bold;
	font-size:10pt;
	margin:0px 0px 21px;
	color:#1b1464;
}
h2.second{
	font-size:10.5pt;
	margin:-25px 0px 21px;
}
h3{
	font-weight:bold;
	font-size:10pt;
	margin:0px;
}
h2 a, h2 a:visited{
	text-decoration:none;
}
h2 img{
	position:relative;
	top:1px;
}
.contents ul{
	margin-bottom:10px;
}
li{
	padding:7px 6px 4px 10px;
	background-image:url(images/mmenu_bullet.gif);
	background-position:0px 14px;
	background-repeat:no-repeat;
	list-style:none;
}

p{
	margin-bottom:17px;
}
.footer{
	background-image:url(images/footer_bg.gif);
	background-position:top left;
	background-repeat:repeat-x;
	padding:22px 0px 20px;
}
.top{
	background-image:url(images/top_left.gif);
	background-position:top left;
	background-repeat:no-repeat;
	height:119px;
	padding-left:170px;
}
.logo{
	float:left;
}
.container{
	padding:0px 0px 15px 170px;
	clear:both;
}
.contInner{
	width:100%;
	overflow-x:hidden;
}
.towel{
	padding-bottom:36px;
	height:171px;
	overflow:hidden;
}
.towel li{
	background:none;
	padding:0px;
}
.newsticker{
	list-style:none;
}
.mmenu{
	padding-top:32px;
	height:77px;
	float:left;
	font-size:12pt;
}
.mmenu a, .mmenu a:visited{
	text-decoration:none;
}
.mmenu a:hover{
	text-decoration:underline;
}
.mmenu1, .mmenu2{
	clear:both;
	width:695px;
	white-space:nowrap;
}
.mmenu1{
	line-height:19px;
}
.mmenu2{
	margin-top:8px;
}
.mmenu1 li, .mmenu2 li{
	list-style:none;
	float:left;
	margin-right:22px;
	white-space:nowrap;
	background:none;
	padding:0px;
}
.mmenu1 li.last, .mmenu2 li.last{
	margin-right:0px;
}
.mmenu li.clearboth{
	background-image:none;
	float:none;
	width:0px;
	margin:0px;
}
.mmenu2 li{
	padding:0px 6px 0px 10px;
	background-image:url(images/mmenu_bullet.gif);
	background-position:0px 7px;
	background-repeat:no-repeat;
	font-size:10pt;
	float:right;
}
.mmenu2 a, .mmenu2 a:visited{
	color:#898989;
}
.mmenu li.active a, .mmenu li.active a:visited{
	font-weight:bold;
}
.leftCont{
	width:297px;
	float:left;
	padding:17px 36px 10px 3px;
}
.rightCont{
	float:left;
	background-image:url(images/grad.jpg);
	background-position:0px 0px;
	background-repeat:no-repeat;
	width:550px;
	min-height:302px;
	height:auto !important;
	height:302px;
	padding:17px 0px 10px 56px;
}
.twoColumns th, .twoColumns td{
	vertical-align:bottom;
	width:250px;
	padding: 0px 65px 18px 0px;
}
.twoColumns td{
	vertical-align:top;
}
.twoColumns th h2{
	margin:0px;
}
.longLeftCont{
	width:75%;
}
.lang{
	position:relative;
	top:-113px;
	width:992px;
	text-align:right;
	font-size:8.5pt;
}
.lang a, .lang a:visited, .lang span{
	margin-left:5px;
}